p{
 text-align: center;
 background-color: lightblue;
 font-size: medium;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-transform: capitalize;
 color:blueviolet;
}